{% block body %}

   {% for articles in article %}
    <p><b>--------------------------------------------------------------</b></p>

    <a href="{{ path('Article',{'id': articles.id} ) }}"><h1>{{ articles.title }}</h1></a>
    <p>Created At {{ articles.createdAt | date('d/m/Y') }} by {{articles.user.email}}</p>
    <iframe
            width="300"
            height="200"
            src={{articles.url}}>
        </iframe>
    <p>Description : {{articles.description}}</p>
    <p>Category : {{articles.description}}</p>

    {% endfor %}


{% endblock %}